<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Flow</title>
</head>
<body>
    <p>Jesus Rogelio Aguilera Galindo</p>
    <div class="col-sm-6 col-lg">
        <div class="title-stat bg-white border-1">
            <div class="title-body min-h-200 text-center">
                <h3 class="margin-top-5 text-info font-weigth-700">INCOME</h3>
                <div class="sparkline-resposive" data-type="line" data-max-width="200" data-height="70" data-data="[2,3,1,4,5,3,6,4,7,9,7]">
                    <canvas style="display: inline-block; vertical-aling: top; width: 200px; height: 70px;" width="200", height="70">
</div>
<div class="row">
    ::before
    <div class"col-xs-4">
        <h5>TODAY</h5>
        <h5> 
            "$ 1723"
            <i class="fa fa-level-up text-info">
                ::before
</i>
</h5>
</div>
<div class"col-xs-4">
        <h5>WEEK</h5>
        <h5> 
            "$ 32 880"
            <i class="fa fa-level-up text-info">
                ::before
</i>
</h5>
</div>
<div class"col-xs-4">
        <h5>MONTH</h5>
        <h5> 
            "$ 105 331"
            <i class="fa fa-level-up text-info">
                ::before
</i>
</h5>
</div>
::after
</div>
</div>
</body>
</html>